* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  padding: 30px;
}

thead {
  text-align: center;
  padding-right: 20px;
}